.technology {
	margin-bottom: 150px;
	.hero {
		width: 100%;

		@media (min-width: 1028px) {
			width: 70%;
		}

		.hero_img {
			width: 100%;
			height: auto;
		}
	}

	.details {
		margin: 50px 0;
		.navigation {
			display: flex;
			gap: 20px;
			justify-content: center;

			.nav_item {
				width: 50px;
				height: 50px;
				border: 1px solid white;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				@media (min-width: 1028px) {
					width: 70px;
					height: 70px;
				}
			}

			.nav_item.active {
				background: white;
				color: black;
			}

			@media (min-width: 1028px) {
				flex-direction: column;
			}
		}

		.title {
			display: flex;
			flex-direction: column;
			align-items: center;

			h2,
			h1 {
				font-family: "Barlow Condensed", sans-serif;
				font-weight: 300;
				text-transform: uppercase;
				margin: 40px 0 10px 0;
				font-size: 19px;
			}

			h1 {
				font-family: "Bellefair", serif;
				font-weight: 400;
				margin: 5px 0 20px 0;
				font-size: 25px;
			}

			p {
				padding: 0 5%;
				text-align: center;
				line-height: 30px;
				font-size: 18px;
				font-weight: 300;
			}

			@media (min-width: 768px) {
				h2 {
					font-size: 25px;
				}
				h1 {
					font-size: 40px;
				}

				p {
					padding: 0 15%;
				}
			}

			@media (min-width: 1028px) {
				align-items: flex-start;
				padding-left: 100px;

				h1 {
					font-size: 60px;
				}

				p {
					text-align: start;
					padding: 0 150px 0 0;
				}
			}
		}

		@media (min-width: 1028px) {
			display: flex;
			flex-direction: row;
			padding-left: 10%;
		}
	}

	@media (min-width: 1028px) {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 300px;
	}
}
